In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/tania/Downloads/Xbox 3-day auctions.csv')

In [4]:
df.tail()

      auctionid    bid   bidtime           bidder  bidderrate  openbid  price
552  8215610555  31.00  2.385764  misschicfashion          13      5.0  35.09
553  8215610555  32.01  2.385926  misschicfashion          13      5.0  35.09
554  8215610555  32.00  2.592141          minipc1         104      5.0  35.09
555  8215610555  35.09  2.973264           bebawl         114      5.0  35.09
556  8215610555  35.00  2.993472        wringo357          80      5.0  35.09

In [5]:
winners = df[df.bid == df.price]

In [7]:
winners.tail()

      auctionid     bid   bidtime         bidder  bidderrate  openbid   price
514  8215571039  150.00  2.997442     lambonius1           0    50.00  150.00
515  8215571039  150.00  2.998437   analogkidd99           0    50.00  150.00
531  8215582227  152.50  2.999664  ultimatum_man           2    60.00  152.50
542  8215605488   61.00  2.586493     pgauctions          16     0.99   61.00
555  8215610555   35.09  2.973264         bebawl         114     5.00   35.09

In [8]:
winners.loc[555, 'bidder'] = 'tania'

/Users/tania/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s